.reveal section img
{
  margin: 0px 0px;
  background: rgba(255, 255, 255, 0.0);
  border: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
}

.reveal section img.resizeLarge
{
    max-width: 80%;
    height: auto;
}

.reveal section img.resize
{
    max-width: 60%;
    height: auto;
}

.reveal section img.resizeSmall
{
    max-width: 40%;
    height: auto;
}

.reveal section img.padded
{
    margin: 10px;
}

.reveal p {
	margin-bottom: 10px;
	font-size: 1.2em;
	line-height: 1.2em;
}

.reveal section img.ipad {
	float:left;
	max-width: 45%;
    height: auto;
    padding: 0;
    margin: 10px;
}

.reveal section p.small {
	font-size: 0.7em;
}

.reveal section p.secondLine {
  font-size: 0.85em;
}